WoWGUI - Copy/WoWGUI/WowClient/Service References/WowServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://WowLoginServiceLib" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://WowLoginServiceLib" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://WowLoginServiceLib/Imports">
      <xsd:import schemaLocation="http://localhost:8000/WowLoginServiceLib/?xsd=xsd0" namespace="http://WowLoginServiceLib" />
      <xsd:import schemaLocation="http://localhost:8000/WowLoginServiceLib/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/WowLoginServiceLib/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWowService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IWowService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWowService_RetrieveAccountCharacters_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAccountCharacters" />
  </wsdl:message>
  <wsdl:message name="IWowService_RetrieveAccountCharacters_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAccountCharactersResponse" />
  </wsdl:message>
  <wsdl:message name="IWowService_AddCharacterToAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCharacterToAccount" />
  </wsdl:message>
  <wsdl:message name="IWowService_AddCharacterToAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCharacterToAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IWowService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IWowService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IWowService_UpdateCharactersForPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCharactersForPlayer" />
  </wsdl:message>
  <wsdl:message name="IWowService_UpdateCharactersForPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCharactersForPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IWowService_UpdateCharacterLevels_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCharacterLevels" />
  </wsdl:message>
  <wsdl:message name="IWowService_UpdateCharacterLevels_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCharacterLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="IWowService_RetrieveAllCharacters_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllCharacters" />
  </wsdl:message>
  <wsdl:message name="IWowService_RetrieveAllCharacters_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllCharactersResponse" />
  </wsdl:message>
  <wsdl:message name="IWowService_DeleteCharacterFromAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCharacterFromAccount" />
  </wsdl:message>
  <wsdl:message name="IWowService_DeleteCharacterFromAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCharacterFromAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IWowService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://WowLoginServiceLib/IWowService/Login" message="tns:IWowService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://WowLoginServiceLib/IWowService/LoginResponse" message="tns:IWowService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAccountCharacters">
      <wsdl:input wsaw:Action="http://WowLoginServiceLib/IWowService/RetrieveAccountCharacters" message="tns:IWowService_RetrieveAccountCharacters_InputMessage" />
      <wsdl:output wsaw:Action="http://WowLoginServiceLib/IWowService/RetrieveAccountCharactersResponse" message="tns:IWowService_RetrieveAccountCharacters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCharacterToAccount">
      <wsdl:input wsaw:Action="http://WowLoginServiceLib/IWowService/AddCharacterToAccount" message="tns:IWowService_AddCharacterToAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://WowLoginServiceLib/IWowService/AddCharacterToAccountResponse" message="tns:IWowService_AddCharacterToAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://WowLoginServiceLib/IWowService/CreateAccount" message="tns:IWowService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://WowLoginServiceLib/IWowService/CreateAccountResponse" message="tns:IWowService_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCharactersForPlayer">
      <wsdl:input wsaw:Action="http://WowLoginServiceLib/IWowService/UpdateCharactersForPlayer" message="tns:IWowService_UpdateCharactersForPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://WowLoginServiceLib/IWowService/UpdateCharactersForPlayerResponse" message="tns:IWowService_UpdateCharactersForPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCharacterLevels">
      <wsdl:input wsaw:Action="http://WowLoginServiceLib/IWowService/UpdateCharacterLevels" message="tns:IWowService_UpdateCharacterLevels_InputMessage" />
      <wsdl:output wsaw:Action="http://WowLoginServiceLib/IWowService/UpdateCharacterLevelsResponse" message="tns:IWowService_UpdateCharacterLevels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllCharacters">
      <wsdl:input wsaw:Action="http://WowLoginServiceLib/IWowService/RetrieveAllCharacters" message="tns:IWowService_RetrieveAllCharacters_InputMessage" />
      <wsdl:output wsaw:Action="http://WowLoginServiceLib/IWowService/RetrieveAllCharactersResponse" message="tns:IWowService_RetrieveAllCharacters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCharacterFromAccount">
      <wsdl:input wsaw:Action="http://WowLoginServiceLib/IWowService/DeleteCharacterFromAccount" message="tns:IWowService_DeleteCharacterFromAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://WowLoginServiceLib/IWowService/DeleteCharacterFromAccountResponse" message="tns:IWowService_DeleteCharacterFromAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>